.about-sec {
  padding-top: 25px;
  padding-bottom: 80px;

  @media (max-width: 1000px) {
    padding: 30px 0;
  }

  &__title {
    margin-bottom: 80px;

    @media (max-width: 1000px) {
      margin-bottom: 40px;
    }

    @include mobile {
      margin-bottom: 23px;
    }
  }

  &__container {
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    gap: 16px;

    @media (max-width: 850px) {
      grid-template-columns: 1fr;
    }
  }

  &__left {
    grid-column: 7 span;
    padding-bottom: 40px;
    padding-top: 7px;

    @media (max-width: 850px) {
      grid-column: 1 span;
      padding: 0;
    }
  }

  &__right {
    position: relative;
    z-index: 1;
    grid-column: 8 span;

    @media (max-width: 850px) {
      grid-column: 1 span;
      height: 400px;
    }

    @include mobile {
      height: auto;
      aspect-ratio: 16 / 9;
    }
  }

  &__img {
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
    width: 101%;
    height: 100%;


    &--back {
      width: 380px;
      height: 260px;
      top: 53px;
      right: -59px;
      left: unset;
      z-index: 1;

      @media (max-width: 850px) {
        display: none;
      }
    }


    img {
      width: 100%;
      height: 100%;
    }
  }

}