<section class="about-hero">
  <div class="container">
    <h1 class="about-hero__title title2">О часовом центре</h1>

    <!-- <div class="about-hero__img">
      <div class="about-hero__mini">
        <picture>
          <source srcset="./img/about-sec/03.webp" type="image/webp" />
          <img src="./img/about-sec/03.jpg" alt="" />
        </picture>
      </div>
      <div class="about-hero__mini">
        <picture>
          <source srcset="./img/about-sec/02.webp" type="image/webp" />
          <img src="./img/about-sec/02.jpg" alt="" />
        </picture>
      </div>
      <picture>
        <source srcset="./img/about-sec/01.webp" type="image/webp" />
        <img src="./img/about-sec/01.jpg" alt="" />
      </picture>
    </div> -->

    <div class="about-hero__slider swiper">
      <div class="about-hero__items swiper-wrapper owl-carousel owl-theme">
        <div class="swiper-slide">
          <picture>
            <source srcset="./img/about-sec/03.webp" type="image/webp" />
            <img src="./img/about-sec/03.jpg" alt="" />
          </picture>
        </div>
        <div class="swiper-slide">
          <picture>
            <source srcset="./img/about-sec/01.webp" type="image/webp" />
            <img src="./img/about-sec/01.jpg" alt="" />
          </picture>
        </div>
        <div class="swiper-slide">
          <picture>
            <source srcset="./img/about-sec/02.webp" type="image/webp" />
            <img src="./img/about-sec/02.jpg" alt="" />
          </picture>
        </div>
      </div>

      <a href="#" class="about-hero__link">
        <span>Фотогалерея</span>

        <div class="about-hero__icon">
          <svg
            width="20"
            height="20"
            viewBox="0 0 20 20"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <rect
              x="0.267578"
              y="0.277771"
              width="4.40444"
              height="4.40444"
              fill="white"
            />
            <rect
              x="0.267578"
              y="7.79779"
              width="4.40444"
              height="4.40444"
              fill="white"
            />
            <rect
              x="0.267578"
              y="15.3177"
              width="4.40444"
              height="4.40444"
              fill="white"
            />
            <rect
              x="7.81836"
              y="0.277771"
              width="4.40444"
              height="4.40444"
              fill="white"
            />
            <rect
              x="7.81836"
              y="7.79779"
              width="4.40444"
              height="4.40444"
              fill="white"
            />
            <rect
              x="7.81836"
              y="15.3177"
              width="4.40444"
              height="4.40444"
              fill="white"
            />
            <path
              d="M15.3281 0.277771H19.7326V4.68222H15.3281V0.277771Z"
              fill="white"
            />
            <path
              d="M15.3281 7.79779H19.7326V12.2022H15.3281V7.79779Z"
              fill="white"
            />
            <path
              d="M15.3281 15.3177H19.7326V19.7222H15.3281V15.3177Z"
              fill="white"
            />
          </svg>
        </div>
      </a>
    </div>
  </div>
</section>
