<section class="about-sec">
  <div class="container">
    <h2 class="title2 about-sec__title">О ломбарде</h2>

    <div class="about-sec__container">
      <div class="about-sec__left">
        <p class="text about-sec__desc">
          Часовой центр Шуваловский — это коммерческая организация, основным
          видом деятельности которой является выдача кредита под залог движимого
          имущества. Сегодня в Москве существует огромное количество ломбардов,
          которые выдают ломбардные кредиты. Наш ломбард является
          специализированным часовым ломбардом, мы принимаем в залог дорогие
          элитные часы, именные ювелирные изделия, и произведения искусства.
          <br />
          <br />
          Часовой центр Шуваловский — это коммерческая организация, основным
          видом деятельности которой является выдача кредита под залог движимого
          имущества. Сегодня в Москве существует огромное количество ломбардов,
          которые выдают ломбардные кредиты. Наш ломбард является
          специализированным часовым ломбардом, мы принимаем в залог дорогие
          элитные часы, именные ювелирные изделия, и произведения искусства.
        </p>
      </div>

      <div class="about-sec__right">
        <div class="about-sec__img">
          <picture>
            <source srcset="./img/about-sec/01.webp" type="image/webp" />
            <img src="./img/about-sec/01.jpg" alt="" />
          </picture>
        </div>
        <div class="about-sec__img about-sec__img--back">
          <picture>
            <source srcset="./img/about-sec/02.webp" type="image/webp" />
            <img src="./img/about-sec/02.jpg" alt="" />
          </picture>
        </div>
      </div>
    </div>
  </div>
</section>
