<section class="about-comfort">
  <div class="container">
    <h2 class="title2 about-comfort__title">Удобно, надежно, оптимально</h2>

    <div class="about-comfort__descr">
      <p class="text">
        Все Наши сотрудники это влюбленные в свое дело профессионалы которые с
        радостью помогут Вам в решении вопросов связанных с приобретением новых
        изделий либо продажей или залогом ваших. Нам дорого время клиента и
        поэтому любой Ваш вопрос не останется без внимательного рассмотрения и
        решения в кратчайший срок. Для этого наши сотрудники обладают всеми
        техническими и финансовыми инструментами.
        <br />
        <br />
        Поэтому все наши клиенты остаются впоследствии нашими добрыми друзьями.
      </p>
      <p class="text">
        Ваши финансовые затруднения временны, и решать их следует оперативно.
        Ломбард часов «Перспектива» - это, без преувеличения, самый быстрый и
        совершенно надежный способ получить необходимую вам сумму. Ломбардный
        кредит — это экспресс-кредит, который оформляется без поручителей. В
        отличие от банковских кредитов, которые далеко не всегда выдаются просто
        и быстро, в нашем ломбарде для решения проблемы в большинстве случаев
        достаточно просто иметь на руках паспорт. Наши квалифицированные
        сотрудники составят для вас официальный договор ломбардного кредита. Вся
        процедура оформления кредита предельно проста и понятна.
      </p>
    </div>
  </div>
</section>
