<section class="benefits">
  <div class="container">
    <h2 class="title2 benefits__title">Преимущества</h2>

    <div class="benefits__items">
      <div class="benefits__item ben-item">
        <div class="ben-item__icon">
          <img src="./img/benefits/01.svg" alt="" />
        </div>

        <span class="ben-item__capture"> справедливая оценка изделия </span>
      </div>

      <div class="benefits__item ben-item">
        <div class="ben-item__icon">
          <img src="./img/benefits/02.svg" alt="" />
        </div>

        <span class="ben-item__capture">
          индивидуальный<br>подход и безопасность
        </span>
      </div>

      <div class="benefits__item ben-item">
        <div class="ben-item__icon">
          <img src="./img/benefits/03.svg" alt="" />
        </div>

        <span class="ben-item__capture">
          полная конфиденциальность сделки
        </span>
      </div>
    </div>
  </div>
</section>