<section class="cost">
  <div class="container">
    <div class="cost__container">
      <h2 class="title2 cost__title">Оценка</h2>
      <div class="cost__subtitle">
        Как определяется стоимость камня или изделия
      </div>

      <div class="cost__img">
        <picture>
          <source
            srcset="./img/ring-2x.webp"
            type="image/webp"
            media="(min-width: 1920px)"
          />
          <source srcset="./img/ring.webp" type="image/webp" />
          <img src="./img/ring.jpg" srcset="./img/ring-2x.jpg 2x" alt="" />
        </picture>
      </div>

      <p class="text cost__desc">
        Покупка украшений с крупным бриллиантом и не очень – это грамотная
        инвестиция в будущее. Купить украшение с бриллиантом в Москве можно в
        любом ювелирном салоне, но не всегда эта покупка может оказаться
        выгодной для вас, особенно если целью является не само украшение, а
        сбережение средств. Купив украшение с бриллиантом 10 карат в ломбарде
        «Перспектива», а не в ювелирном магазине, вы сможете серьезно
        сэкономить, хотя ценность изделия будет та же самая.
      </p>
    </div>
  </div>
</section>
