<section class="cta" id="online-estimate">
  <div class="container">
    <div class="cta__container">
      <div class="cta__body">
        <h2 class="title2 cta__title">Онлайн-оценка</h2>
        <p class="cta__desc text">
          Оставьте Ваш номер телефона, загрузите фото изделия и мы перезвоним
          Вам:
        </p>

        <form action="#" class="cta__form form">
          <label class="form__label">
            <span class="form__capture">Ваш телефон*:</span>
            <input
              type="tel"
              class="form__input input-tel"
              name="Телефон:"
              placeholder="+_ (___) ___-__-__"
            />
          </label>

          <input
            type="file"
            name="file[]"
            id="form-file"
            class="visually-hidden input-file"
            multiple
          />
          <label for="form-file" class="form-file form__label">
            <span class="form-file__text">Прикрепить файлы…</span>

            <span class="btn-reset form-file__btn">ОБЗОР…</span>
          </label>
          <div>
            <ul class="list-reset added-files"></ul>
          </div>
          <div class="checks-group">
            <input
              type="checkbox"
              id="agreement"
              class="visually-hidden input-check"
            />
            <label for="agreement" class="form-check form__check form__label">
              <span class="form-check__box"></span>
              <span class="form-check__text">
                Я согласен с политикой конфиденциальности и пользовательским
                соглашением
              </span>
            </label>
          </div>

          <button class="btn-reset form__btn">ОТПРАВИТЬ НА ОЦЕНКУ</button>
        </form>
      </div>
    </div>
  </div>
</section>
