<div class="h-menu">
  <div class="container">
    <div class="h-menu__container" data-nav-content="watches">
      <div class="h-menu__left">
        <div class="h-menu__title">Бренды:</div>
        <nav class="h-menu__nav h-nav">
          <ul class="list-reset h-nav__list">
            <li class="h-nav__item">
              <a href="#" class="h-nav__link">A. Lange & Sohne Chopard  </a>
            </li>
            <li class="h-nav__item">
              <a href="#" class="h-nav__link">Audemars piguet </a>
            </li>
            <li class="h-nav__item">
              <a href="#" class="h-nav__link">Rolex </a>
            </li>
            <li class="h-nav__item">
              <a href="#" class="h-nav__link">Jaeger lecoultre </a>
            </li>
            <li class="h-nav__item">
              <a href="#" class="h-nav__link">Vacheron Сonstantine</a>
            </li>
            <li class="h-nav__item">
              <a href="#" class="h-nav__link">Panerai </a>
            </li>
            <li class="h-nav__item">
              <a href="#" class="h-nav__link">Parmigiani </a>
            </li>
            <li class="h-nav__item">
              <a href="#" class="h-nav__link">Patek Philippe Perrelet </a>
            </li>
            <li class="h-nav__item">
              <a href="#" class="h-nav__link">Patek Philippe Perrelet</a>
            </li>
            <li class="h-nav__item">
              <a href="#" class="h-nav__link">Patek Philippe Perrelet</a>
            </li>
          </ul>
          <ul class="list-reset h-nav__list">
            <li class="h-nav__item">
              <a href="#" class="h-nav__link">A. Lange & Sohne Chopard  </a>
            </li>
            <li class="h-nav__item">
              <a href="#" class="h-nav__link">Audemars piguet </a>
            </li>
            <li class="h-nav__item">
              <a href="#" class="h-nav__link">Rolex </a>
            </li>
            <li class="h-nav__item">
              <a href="#" class="h-nav__link">Jaeger lecoultre </a>
            </li>
            <li class="h-nav__item">
              <a href="#" class="h-nav__link">Vacheron Сonstantine</a>
            </li>
            <li class="h-nav__item">
              <a href="#" class="h-nav__link">Panerai </a>
            </li>
            <li class="h-nav__item">
              <a href="#" class="h-nav__link">Parmigiani </a>
            </li>
            <li class="h-nav__item">
              <a href="#" class="h-nav__link">Patek Philippe Perrelet </a>
            </li>
            <li class="h-nav__item">
              <a href="#" class="h-nav__link">Patek Philippe Perrelet</a>
            </li>
            <li class="h-nav__item">
              <a href="#" class="h-nav__link">Patek Philippe Perrelet</a>
            </li>
          </ul>
          <ul class="list-reset h-nav__list">
            <li class="h-nav__item">
              <a href="#" class="h-nav__link">A. Lange & Sohne Chopard  </a>
            </li>
            <li class="h-nav__item">
              <a href="#" class="h-nav__link">Audemars piguet </a>
            </li>
            <li class="h-nav__item">
              <a href="#" class="h-nav__link">Rolex </a>
            </li>
            <li class="h-nav__item">
              <a href="#" class="h-nav__link">Jaeger lecoultre </a>
            </li>
            <li class="h-nav__item">
              <a href="#" class="h-nav__link">Vacheron Сonstantine</a>
            </li>
            <li class="h-nav__item">
              <a href="#" class="h-nav__link">Panerai </a>
            </li>
            <li class="h-nav__item">
              <a href="#" class="h-nav__link">Parmigiani </a>
            </li>
            <li class="h-nav__item">
              <a href="#" class="h-nav__link">Patek Philippe Perrelet </a>
            </li>
            <li class="h-nav__item">
              <a href="#" class="h-nav__link">Patek Philippe Perrelet</a>
            </li>
            <li class="h-nav__item">
              <a href="#" class="h-nav__link">Patek Philippe Perrelet</a>
            </li>
          </ul>
        </nav>
      </div>

      <div class="h-menu__img">
        <picture>
          <source
            srcset="./img/menu-img-2x.webp"
            type="image/webp"
            media="(min-width: 1920px)"
          />
          <source srcset="./img/menu-img-2x.webp" type="image/webp" />
          <img
            src="./img/menu-img.jpg"
            srcset="./img/menu-img-2x.jpg 2x"
            alt=""
          />
        </picture>
      </div>
    </div>
    <div class="h-menu__container" data-nav-content="jewelry">
      <div class="h-menu__left">
        <div class="h-menu__title">Бренды:</div>
        <nav class="h-menu__nav h-nav">
          <ul class="list-reset h-nav__list">
            <li class="h-nav__item">
              <a href="#" class="h-nav__link">A. Lange & Sohne Chopard  </a>
            </li>
            <li class="h-nav__item">
              <a href="#" class="h-nav__link">Audemars piguet </a>
            </li>
            <li class="h-nav__item">
              <a href="#" class="h-nav__link">Rolex </a>
            </li>
            <li class="h-nav__item">
              <a href="#" class="h-nav__link">Jaeger lecoultre </a>
            </li>
            <li class="h-nav__item">
              <a href="#" class="h-nav__link">Vacheron Сonstantine</a>
            </li>
            <li class="h-nav__item">
              <a href="#" class="h-nav__link">Panerai </a>
            </li>
            <li class="h-nav__item">
              <a href="#" class="h-nav__link">Parmigiani </a>
            </li>
            <li class="h-nav__item">
              <a href="#" class="h-nav__link">Patek Philippe Perrelet </a>
            </li>
            <li class="h-nav__item">
              <a href="#" class="h-nav__link">Patek Philippe Perrelet</a>
            </li>
            <li class="h-nav__item">
              <a href="#" class="h-nav__link">Patek Philippe Perrelet</a>
            </li>
          </ul>
          <ul class="list-reset h-nav__list">
            <li class="h-nav__item">
              <a href="#" class="h-nav__link">A. Lange & Sohne Chopard  </a>
            </li>
            <li class="h-nav__item">
              <a href="#" class="h-nav__link">Audemars piguet </a>
            </li>
            <li class="h-nav__item">
              <a href="#" class="h-nav__link">Rolex </a>
            </li>
            <li class="h-nav__item">
              <a href="#" class="h-nav__link">Jaeger lecoultre </a>
            </li>
            <li class="h-nav__item">
              <a href="#" class="h-nav__link">Vacheron Сonstantine</a>
            </li>
            <li class="h-nav__item">
              <a href="#" class="h-nav__link">Panerai </a>
            </li>
            <li class="h-nav__item">
              <a href="#" class="h-nav__link">Parmigiani </a>
            </li>
          </ul>
          <ul class="list-reset h-nav__list">
            <li class="h-nav__item">
              <a href="#" class="h-nav__link">A. Lange & Sohne Chopard  </a>
            </li>
            <li class="h-nav__item">
              <a href="#" class="h-nav__link">Audemars piguet </a>
            </li>
            <li class="h-nav__item">
              <a href="#" class="h-nav__link">Rolex </a>
            </li>
            <li class="h-nav__item">
              <a href="#" class="h-nav__link">Jaeger lecoultre </a>
            </li>
            <li class="h-nav__item">
              <a href="#" class="h-nav__link">A. Lange & Sohne Chopard  </a>
            </li>
            <li class="h-nav__item">
              <a href="#" class="h-nav__link">Audemars piguet </a>
            </li>
            <li class="h-nav__item">
              <a href="#" class="h-nav__link">Rolex </a>
            </li>
            <li class="h-nav__item">
              <a href="#" class="h-nav__link">Jaeger lecoultre </a>
            </li>
            <li class="h-nav__item">
              <a href="#" class="h-nav__link">A. Lange & Sohne Chopard  </a>
            </li>
            <li class="h-nav__item">
              <a href="#" class="h-nav__link">Audemars piguet </a>
            </li>
            <li class="h-nav__item">
              <a href="#" class="h-nav__link">Rolex </a>
            </li>
            <li class="h-nav__item">
              <a href="#" class="h-nav__link">Jaeger lecoultre </a>
            </li>
          </ul>
        </nav>
      </div>

      <div class="h-menu__img">
        <picture>
          <source
            srcset="./img/ring-2x.webp"
            type="image/webp"
            media="(min-width: 1920px)"
          />
          <source srcset="./img/ring.webp" type="image/webp" />
          <img src="./img/ring.jpg" srcset="./img/ring-2x.jpg 2x" alt="" />
        </picture>
      </div>
    </div>
    <div class="h-menu__container" data-nav-content="accessories">
      <div class="h-menu__left">
        <div class="h-menu__title">Бренды:</div>
        <nav class="h-menu__nav h-nav">
          <ul class="list-reset h-nav__list">
            <li class="h-nav__item">
              <a href="#" class="h-nav__link">A. Lange & Sohne Chopard  </a>
            </li>
            <li class="h-nav__item">
              <a href="#" class="h-nav__link">Audemars piguet </a>
            </li>
            <li class="h-nav__item">
              <a href="#" class="h-nav__link">Rolex </a>
            </li>
            <li class="h-nav__item">
              <a href="#" class="h-nav__link">Jaeger lecoultre </a>
            </li>
            <li class="h-nav__item">
              <a href="#" class="h-nav__link">Vacheron Сonstantine</a>
            </li>
            <li class="h-nav__item">
              <a href="#" class="h-nav__link">Panerai </a>
            </li>
            <li class="h-nav__item">
              <a href="#" class="h-nav__link">Parmigiani </a>
            </li>
            <li class="h-nav__item">
              <a href="#" class="h-nav__link">Patek Philippe Perrelet </a>
            </li>
            <li class="h-nav__item">
              <a href="#" class="h-nav__link">Patek Philippe Perrelet</a>
            </li>
            <li class="h-nav__item">
              <a href="#" class="h-nav__link">Patek Philippe Perrelet</a>
            </li>
          </ul>
          <ul class="list-reset h-nav__list">
            <li class="h-nav__item">
              <a href="#" class="h-nav__link">A. Lange & Sohne Chopard  </a>
            </li>
            <li class="h-nav__item">
              <a href="#" class="h-nav__link">Audemars piguet </a>
            </li>
            <li class="h-nav__item">
              <a href="#" class="h-nav__link">Rolex </a>
            </li>
            <li class="h-nav__item">
              <a href="#" class="h-nav__link">Jaeger lecoultre </a>
            </li>
            <li class="h-nav__item">
              <a href="#" class="h-nav__link">Vacheron Сonstantine</a>
            </li>
            <li class="h-nav__item">
              <a href="#" class="h-nav__link">Panerai </a>
            </li>
            <li class="h-nav__item">
              <a href="#" class="h-nav__link">Parmigiani </a>
            </li>
            <li class="h-nav__item">
              <a href="#" class="h-nav__link">Patek Philippe Perrelet </a>
            </li>
            <li class="h-nav__item">
              <a href="#" class="h-nav__link">Patek Philippe Perrelet</a>
            </li>
            <li class="h-nav__item">
              <a href="#" class="h-nav__link">Patek Philippe Perrelet</a>
            </li>
          </ul>
          <ul class="list-reset h-nav__list">
            <li class="h-nav__item">
              <a href="#" class="h-nav__link">A. Lange & Sohne Chopard  </a>
            </li>
            <li class="h-nav__item">
              <a href="#" class="h-nav__link">Audemars piguet </a>
            </li>
            <li class="h-nav__item">
              <a href="#" class="h-nav__link">Rolex </a>
            </li>
            <li class="h-nav__item">
              <a href="#" class="h-nav__link">Jaeger lecoultre </a>
            </li>
            <li class="h-nav__item">
              <a href="#" class="h-nav__link">Vacheron Сonstantine</a>
            </li>
            <li class="h-nav__item">
              <a href="#" class="h-nav__link">Panerai </a>
            </li>
            <li class="h-nav__item">
              <a href="#" class="h-nav__link">Parmigiani </a>
            </li>
            <li class="h-nav__item">
              <a href="#" class="h-nav__link">Patek Philippe Perrelet </a>
            </li>
            <li class="h-nav__item">
              <a href="#" class="h-nav__link">Patek Philippe Perrelet</a>
            </li>
            <li class="h-nav__item">
              <a href="#" class="h-nav__link">Patek Philippe Perrelet</a>
            </li>
          </ul>
        </nav>
      </div>

      <div class="h-menu__img">
        <picture>
          <source
            srcset="./img/menu-img-2x.webp"
            type="image/webp"
            media="(min-width: 1920px)"
          />
          <source srcset="./img/menu-img-2x.webp" type="image/webp" />
          <img
            src="./img/menu-img.jpg"
            srcset="./img/menu-img-2x.jpg 2x"
            alt=""
          />
        </picture>
      </div>
    </div>
  </div>
</div>
