<header class="header">
  <div class="container">
    <div class="header__top">
      <div class="header__burger">
        <div class="line"></div>
      </div>

      <a href="./" class="header__logo">
        <img src="./img/logo.svg" alt="">
      </a>

      <div class="header__right">
        <div class="header__g">
          <a href="tel:+74950000000" class="header__tel">+7 (495) 000-00-00</a>
          <span class="recall header__link"><a href="#">Заказать обратный звонок</a></span>
        </div>
        <div class="header__g">
          <a href="tel:+79037240444" class="header__tel">+7 (903) 724-04-44</a>
          <span class="recall header__link">
            <a href="#">Whatsapp</a>
            •
            <a href="#">Telegram</a>
          </span>
        </div>
      </div>
    </div>
  </div>
</header>
