<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <meta name="theme-color" content="#111111" />
  <title>MaxGraph New Site</title>
  <link rel="preload" href="fonts/GaramondPremrPro-MedSubh.woff2" as="font" type="font/woff2" crossorigin />
  <link rel="preload" href="fonts/Gotham-Pro-Light.woff2" as="font" type="font/woff2" crossorigin />
  <link rel="preload" href="fonts/Gotham-Pro-Medium.woff2" as="font" type="font/woff2" crossorigin />
  <link rel="preload" href="fonts/Gotham-Pro-Regular.woff2" as="font" type="font/woff2" crossorigin />
  <link rel="preload" href="fonts/Graphik-Regular.woff2" as="font" type="font/woff2" crossorigin />
  <link rel="preload" href="fonts/Roboto-Medium.woff2" as="font" type="font/woff2" crossorigin />
  <link rel="preload" href="fonts/Roboto-Regular.woff2" as="font" type="font/woff2" crossorigin />
  <link rel="preload" href="fonts/RobotoCondensed-Regular.woff2" as="font" type="font/woff2" crossorigin />


  <link rel="preload" href="fonts/Formular-Bold.woff2" as="font" type="font/woff2" crossorigin />
  <link rel="preload" href="fonts/Formular-Light.woff2" as="font" type="font/woff2" crossorigin />
  <link rel="preload" href="fonts/Formular-Medium.woff2" as="font" type="font/woff2" crossorigin />
  <link rel="preload" href="fonts/Formular.woff2" as="font" type="font/woff2" crossorigin />
  <link rel="stylesheet" href="css/vendor.css" />
  <link rel="stylesheet" href="css/main.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
    integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script defer src="js/main.js"></script>
</head>