<section class="hero">
  <div class="container">
    <div class="hero__container">
      <div class="hero__content">
        <span class="hero__logo">
          <img src="./img/logo-sign.svg" alt="" />
        </span>
        <h1 class="hero__title">Выкуп бриллиантов<br>и изделий с бриллиантами</h1>
        <p class="hero__desc">
          Выкупаем камни по справедливой цене и выдаем деньги<br>в день обращения
        </p>

        <div class="hero__items">
          <div class="hero-item hero__item">
            <div class="hero-item__icon">
              <img src="./img/icons/white-clock.svg" alt="" />
            </div>
            <div class="hero-item__capture">деньги в день<br />обращения</div>
          </div>
          <div class="hero-item hero__item">
            <div class="hero-item__icon">
              <img src="./img/icons/rubles.svg" alt="" />
            </div>
            <div class="hero-item__capture">покупаем<br />от 100 тыс.</div>
          </div>
          <div class="hero-item hero__item">
            <div class="hero-item__icon">
              <img src="./img/icons/web.svg" alt="" />
            </div>
            <div class="hero-item__capture">онлайн<br />оценка</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>