<section class="info">
  <div class="container">
    <div class="info__box">
      <div class="info__content">
        <div class="info__items">
          <div class="info__item info-item">
            <span>12</span>
            лет<br />на рынке
          </div>
          <div class="info__item info-item">
            <span>90+</span>
            отзывов от знаменитых персон
          </div>
        </div>

        <p class="text2 info__desc">
          Мы одно из немногих мест, где часы принимаются в залог и оцениваются
          как предметы часового искусства. Как правило, оценочная стоимость
          швейцарских часов составляет 20-40% от розничной цены новых часов в
          магазине. Размер ссуды под залог зависит от модели, наличия чека,
          паспорта часов, гарантии, внешнего вида.
        </p>
      </div>
    </div>
  </div>
</section>
