<div class="menu">
  <div class="menu__body">
    <div class="menu__close">
      <svg
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M0.36893 23.6307C0.461238 23.723 0.5997 23.7692 0.692007 23.7692C0.784315 23.7692 0.922776 23.723 1.01508 23.6307L11.9997 12.6461L22.9843 23.6307C23.0766 23.723 23.2151 23.7692 23.3074 23.7692C23.3997 23.7692 23.5382 23.723 23.6305 23.6307C23.8151 23.4461 23.8151 23.1692 23.6305 22.9846L12.6459 11.9999L23.6305 1.01533C23.8151 0.830713 23.8151 0.55379 23.6305 0.369174C23.4459 0.184559 23.1689 0.184559 22.9843 0.369174L11.9997 11.3538L1.01508 0.369174C0.830469 0.184559 0.553546 0.184559 0.36893 0.369174C0.184315 0.55379 0.184315 0.830713 0.36893 1.01533L11.3535 11.9999L0.36893 22.9846C0.184315 23.1692 0.184315 23.4461 0.36893 23.6307Z"
          fill="#9B9B9B"
        />
      </svg>
    </div>

    <nav class="menu-nav menu__nav">
      <ul class="list-reset menu-nav__list">
        <li class="menu-nav__item">
          <a href="./about.html" class="menu-nav__link">О ЧАСОВОМ ЦЕНТРЕ</a>
        </li>
      </ul>
      <ul class="list-reset menu-nav__list">
        <li class="menu-nav__item">
          <a href="#" class="menu-nav__link">Швейцарские часы</a>
        </li>
        <li class="menu-nav__item">
          <a href="#" class="menu-nav__link">Ювелирные изделия</a>
        </li>
        <li class="menu-nav__item">
          <a href="#" class="menu-nav__link">Аксессуары</a>
        </li>
      </ul>
      <ul class="list-reset menu-nav__list">
        <li class="menu-nav__item">
          <a href="#" class="menu-nav__link">Скупка часов</a>
        </li>
        <li class="menu-nav__item">
          <a href="#" class="menu-nav__link">Заложить часы</a>
        </li>
        <li class="menu-nav__item">
          <a href="#" class="menu-nav__link">Скупка бриллиантов</a>
        </li>
        <li class="menu-nav__item">
          <a href="#" class="menu-nav__link">Экспертиза часов</a>
        </li>
        <li class="menu-nav__item">
          <a href="./contacts.html" class="menu-nav__link">Контакты</a>
        </li>
      </ul>
    </nav>

    <div class="menu__block">
      <div class="menu__g">
        <div>
          <a href="tel:+74950000000" class="header__tel">+7 (495) 000-00-00</a>
        </div>
        <span class="recall header__link"
          ><a href="#">Заказать обратный звонок</a></span
        >
      </div>
      <div class="menu__g">
        <div>
          <a href="tel:+79037240444" class="header__tel">+7 (903) 724-04-44</a>
        </div>
        <span class="recall header__link">
          <a href="#">Whatsapp</a>
          •
          <a href="#">Telegram</a>
        </span>
      </div>
    </div>
  </div>
</div>
