<section class="money">
  <div class="container">
    <h2 class="money__title title2">Деньги в течение часа</h2>

    <div class="money__items">
      <div class="money__item money-item">Оценка изделия</div>
      <div class="money__sep"></div>
      <div class="money__item money-item">
        Заключение<br />
        договора
      </div>
      <div class="money__sep"></div>
      <div class="money__item money-item">
        Сдача изделия<br />
        и получение денег
      </div>
    </div>
  </div>
</section>
