// если вы хотите использовать sass-переменные - удалите root
// colors
:root {
  // base
  --font-family: "GaramondPremrPro", sans-serif;
  --second-family: "Gotham Pro", sans-serif;
  --third-family: "Roboto Condensed", sans-serif;
  --font3: "Roboto", sans-serif;
  --font4: "GraphikLCG", sans-serif;
  --font5: "Formular", sans-serif;
  --content-width: 1180px;
  --container-offset: 10px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  // colors
  --light-color: #fff;
}